body {
  margin: 0;
  padding: 0;
  /*font-family: 'Arial', sans-serif;*/
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Lato', sans-serif;
  height: 100%;
  position: relative;
  z-index: 3;
}

html {
  min-width: 1042px;
}

.app-open-modal {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: grey;
  opacity: 0.5;
  z-index: 998;
}

.section-title {
  font-size: 3.5em;
  font-weight: bold;
  margin-top: 8rem;
}

.alt-section-title {
  color: white;
  margin-left: 13vw;
}

.project-section-title {
  margin-left: 65vw;
}

/* Header */
.header-container {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  height: 4.5rem;
}

.header-name {
  flex: 4;
  /*border: 1px solid blue;*/
  text-align: left;
  padding: 1rem;
  margin-left: 3rem;
}

.social-media-container {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 2rem;
}

.social-media-container .social-media-item {
  padding: 3px;
}

.social-media-container i {
  color: white;
  background-color: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  margin-right: 0.5rem;
}

.social-media-container a {
  text-decoration: none;
}

/* About */
.about-container {
  display: flex;
  padding: 0 3vw;
  align-items: flex-start;
  height: 100vh;
  overflow: hidden;
}

.about-container .profile-pic {
  flex: 1;
  max-width: 23rem;
  margin-top: 2.5rem;
  margin-left: 3vw;
}

.about-container .about-blurb-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 7rem;
  margin-left: 6vw;
  margin-right: 13vw;
}

.about-container .about-blurb-container .blurb-content {
  margin-top: -2rem;
  font-size: 1.5rem;
}

.blurb-content a {
  text-decoration: none;
}

.blurb-content a:visited {
  color: blue;
}

/* Navbar */
.navbar-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 3rem;
  top: 20rem;
  z-index: 10;
}

.navbar-wrapper {
  height: 100vh;
  width: 100vw;
  position: fixed;
  min-width: 1042px;
  z-index: -1;
}

.navbar-container .nav-outer {
  cursor: pointer;
  background-color: transparent;
  border: 3px solid grey;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  margin-top: 0.25rem;
  position: relative;
}

.navbar-container .nav-inner {
  position: absolute;
  height: 0.35rem;
  width: 0.35rem;
  top: 0.2rem;
  left: 0.2rem;
  right: 0.2rem;
  bottom: 0.2rem;
  border: 2px solid grey;
  background-color: grey;
  border-radius: 50%;
}

/* Techstack */
.tech-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: black;
}

.tech-wrapper {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  width: 55%;
  margin-top: 2rem;
  margin-left: 24vw;
}

.tech-wrapper p {
  display: flex;
  text-transform: uppercase;
  padding: 0 2px;
  height: 0px;
  color: white;
  margin: 0;
}

.tech-wrapper .small {
  font-size: 1.5rem;
}

.tech-wrapper .large {
  font-size: 2rem;
  font-weight: bold;
}

/* ProjectSlider */
.project-slider-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.project-slider-wrapper {
  margin-top: 1rem;
  display: flex;
}

.project-slider {
  width: 88%;
  overflow: hidden;
}

.slick-track {
  display: flex;
}

.slick-slide {
  display: flex;
  flex-direction: row;
  max-height: 15vw;
  cursor: pointer;
}

.project-slider-thumb {
  border: 1px solid grey;
}

.project-slider-controls {
  display: flex;
  flex-direction: column;
  line-height: 0.1rem;
  font-weight: bold;
  font-size: 1.5rem;
  color: grey;
  margin-left: 0.5vw;
}

.project-slider-controls span {
  cursor: pointer;
}

.project-slider-github {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  width: 12vw;
  height: 3rem;
  border-radius: 3px;
  border: 2px solid black;
  margin-top: 4rem;
  margin-left: 80vw;
  cursor: pointer;
  transition: 0.4s;
}

.project-slider-github:hover {
  background-color: white;
  color: black;
  transition: 0.4s;
}

* { /* for react-slick */
  /*min-height: 0;*/
  /*min-width: 0;*/
}

/* Projects */
.projects-container {
  padding: 5rem 6rem;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.projects-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
}

.project {
  display: flex;
  flex-direction: column-reverse;
  cursor: pointer;
  padding: 1rem 0;
  max-width: 45%;
}

.project-left {
  margin-right: 2rem;
}

.project-right {
  margin-left: 2rem;
}

.project-title {
  padding-top: 1rem;
  font-size: 18px;
  font-weight: 600;
}

.project-thumb {
  max-height: 19rem;
  max-width: 100%;
}

/* Project Info */
.project-info {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  height: 75vh;
  background-color: white;
  border: 1px solid #e2e2e2;
  padding: 1rem 4rem;
  z-index: 999;
  width: 50%;
  overflow: hidden;
}

.project-info-title {
  text-align: left;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 0;
}

.project-info-image {
  max-height: 20rem;
}

.project-info-icons {
  display: flex;
  justify-content: center;
  width: 100%;
}

.project-info i {
  font-size: 3em;
  padding: 0.5rem 0.5rem;
}

.project-info-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0.5rem 0;
}

.project-info-description {
  font-size: 1rem;
  width: 80%;
}

.project-info-github {
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
  width: 10%;
  padding: 1rem 0;
  text-decoration: none;
}

.project-info-github:visited {
  color: black;
}

/* Contact */
.contact-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  height: 100vh;
  background-color: black;
}

.contact-message-wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 24vw;
}

.contact-message-meta {
  display: flex;
}

.contact-message-name {
  height: 2rem;
  font-size: 16px;
  flex-basis: 50%;
  padding-left: 0.5rem;
}

.contact-message-name:disabled::placeholder {
  color: #e0e0e0;
}

.contact-message-email {
  height: 2rem;
  font-size: 16px;
  flex-basis: 50%;
  padding-left: 0.5rem;
  margin-left: 2rem;
}

.contact-message-email:disabled::placeholder {
  color: #e0e0e0;
}

.contact-message-body {
  margin-top: 2rem;
  padding: 1rem;
  height: 15rem;
  font-size: 16px;
  border: 1px solid #aaaaaa;
  resize: none;

}

.contact-message-body:disabled::placeholder {
  color: #e0e0e0;
}

.contact-message-submit-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.contact-message-submit-btn {
  background-color: white;
  color: black;
  border: 3px solid white;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  padding: 0.5rem;
  cursor: pointer;
  margin-top: 1rem;
  width: 12vw;
  height: 3rem;
  transition: 0.40s;
}

.contact-message-submit-btn:hover {
  border: 3px solid white;
  background-color: black;
  color: white;
  transition: 0.40s;
}

.contact-message-submit-confirmation {
  display: flex;
  align-items: center;
  font-size: 20px;
  padding: 0.5rem;
  color: green;
}

/* Footer */
.footer-container {
  height: 5rem;
  margin-top: 6rem;
  padding: 0 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  width: 79%;
}

.footer-content {
  color: white;
  align-items: center;
  margin-left: 3vw;
}
