body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

img {
  /*max-width: 20rem;
  max-height: 20rem;*/
}

/* Header */
.header-container {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  height: 4.5rem;
}

.header-name {
  flex: 4;
  border: 1px solid blue;
  text-align: left;
  padding: 1rem;
  margin-left: 3rem;
}

.social-media-container {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 1px solid black;
  margin-right: 2rem;
}

.social-media-container i {
  color: white;
  background-color: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  margin-right: 0.5rem;
}

/* About */
.about-container {
  display: flex;
  padding: 0 2rem;
  border: 1px solid red;
  height: 95vh;
}

.profile-pic {
  flex: 3;
  max-width: 22rem;
  border: 1px solid black;
  border-radius: 3px;
  margin-top: 3rem;
}

.about-blurb {
  flex: 2;
  margin-top: 5rem;
  font-size: 20px;
}

/* Navbar */
.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /*border: 1px solid black;*/
  height: 3rem;
  background-color: #CDD7D6;
  font-size: 15px;
}

.navbar-container span {
  margin: 1rem 1rem;
  cursor: pointer;
}


/* Projects */
.projects-container {
  padding: 0 8rem;
}

.project {
  display: flex;
  border: 1px solid red;
}

.project-info {
  flex: 1;
  flex-direction: column;
  flex-basis: 50%;
}

h3 {
  font-size: 25px;
  font-weight: bold;
}

.project-pics {
  flex: 1;
  flex-basis: 50%;
}








