body {
  margin: 0;
  padding: 0;
  /*font-family: 'Arial', sans-serif;*/
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

.app-open-modal {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: grey;
  opacity: 0.5;
  z-index: 2;
}

.section-title {
  font-size: 3.5em;
  font-weight: bold;
}

/* Header */
.header-container {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  height: 4.5rem;
}

.header-name {
  flex: 4;
  /*border: 1px solid blue;*/
  text-align: left;
  padding: 1rem;
  margin-left: 3rem;
}

.social-media-container {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /*border: 1px solid black;*/
  margin-right: 2rem;
}

.social-media-container .social-media-item {
  padding: 3px;
}

.social-media-container i {
  color: white;
  background-color: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  margin-right: 0.5rem;
}

.social-media-container a {
  text-decoration: none;
}

/* About */
.about-container {
  display: flex;
  padding: 0 2rem;
  align-items: flex-start;
  /*border: 1px solid red;*/
  height: 100vh;
}

.about-container .profile-pic {
  max-width: 22rem;
  /*border: 1px solid black;*/
  border-radius: 3px;
  margin-top: 3rem;
}

.about-container .about-blurb-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 7rem;
  margin-left: 6rem;
  /*border: 1px solid brown;*/
  height: 60%;
  width: 50%;
}

.about-container .about-blurb-container .blurb-content {
  margin-top: -2rem;
  font-size: 1.5rem;
  font-style: bold;
}

/* Navbar */
.navbar-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 3rem;
  top: 25rem;
  z-index: 1;
}

.navbar-container .nav-outer {
  cursor: pointer;
  background-color: white;
  border: 3px solid grey;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  margin-top: 0.25rem;
  position: relative;
}

.navbar-container .nav-inner {
  position: absolute;
  height: 0.35rem;
  width: 0.35rem;
  top: 0.2rem;
  left: 0.2rem;
  right: 0.2rem;
  bottom: 0.2rem;
  border: 2px solid grey;
  background-color: grey;
  border-radius: 50%;
}

/* Techstack */
.tech-container {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: left;
  padding: 5rem 6rem;
  border: 1px solid black;
}

.tech-wrapper {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  /*border: 1px solid green;*/
  width: 95%;
}

.tech-wrapper p {
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 3px;
  /*border: 1px solid red;*/
  height: 15px;
}

.tech-wrapper .small {
  font-size: 1em;
}

.tech-wrapper .med {
  font-size: 2em;
}

.tech-wrapper .large {
  font-size: 3em;
}

/* Projects */
.projects-container {
  padding: 5rem 6rem;
  display: flex;
  flex-direction: column;
  align-items: left;
}


.projects-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80vw;
}


.project {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  height: 33%;
  cursor: pointer;
  padding: 1rem 0;
}

/*.project:hover {
  background-color: #efeded;
}*/

.project img {
  max-width: 29rem;
  border: 1px solid #e2e2e2;
}

/* Project Info */
.project-info {
  position: fixed;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  height: 75vh;
  background-color: white;
  border: 1px solid #e2e2e2;
  padding: 1rem 4rem;
  z-index: 3;
  width: 50%;
}

.project-info-title {
  text-align: left;
  font-size: 2em;
  font-weight: bold;
  padding: 1rem 0;
}

.project-info img {
  max-height: 20rem;
  border: 1px solid #e2e2e2;
}

.project-info-icons {
  display: flex;
  justify-content: center;
  width: 100%;
}

.project-info i {
  font-size: 3em;
  padding: 0.5rem 0.5rem;
}

.project-info-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0.5rem 0;
}

.project-info-description {
  font-size: 0.75em;
  width: 80%;
}

.project-info-github {
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  width: 10%;
  padding: 1rem 0;
}

/* Contact */
.contact-container {
  padding: 5rem 6rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  height: 100vh;
}

.contact-message-wrapper {
  display: flex;
  flex-direction: column;
  width: 95%;
}

.contact-message-meta {
  display: flex;
  justify-content: space-between;
}

.contact-message-name {
  /*flex: 1;*/
  height: 2rem;
  font-size: 16px;
  flex-basis: 40%;
  padding-left: 0.5rem;
  border: 1px solid #aaaaaa;
}

.contact-message-email {
  /*flex: 1;*/
  height: 2rem;
  font-size: 16px;
  flex-basis: 40%;
  padding-left: 0.5rem;
  border: 1px solid #aaaaaa;
}

.contact-message-body {
  margin-top: 3rem;
  padding: 1rem;
  height: 20rem;
  font-size: 16px;
  border: 1px solid #aaaaaa;
}

.contact-message-submit-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.contact-message-submit-btn {
  background-color: black;
  color: white;
  border: 3px solid black;
  border-radius: 8px;
  font-size: 20px;
  padding: 0.5rem;
  cursor: pointer;
  transition: 0.40s;
}

.contact-message-submit-btn:hover {
  border: 3px solid black;
  background-color: white;
  color: black;
  transition: 0.40s;
}

.contact-message-submit-confirmation {
  color: green;
}

